.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: transparent!important;
}

.bannerImg{
    height: 500px;
    background-image: url(../assets/pexels-björn-austmar-þórsson-18666531.jpg); 
    background-position: center;
    background-size: cover;
}

.navFont{
    color:white;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;

}

.joinButton{
    margin: 50px;
    border-radius: 5px;
    background-color: white;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
}

.titleFont{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.subtitleFont{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top:30px;
}

.form-control {
    width: 100%;
}

.headingSection{
    margin-top:80px;
    padding-left: 345px;
    padding-right: 345px;
}

.searchSection{
    margin-top:30px;
}

.btn-outline-success {
    --bs-btn-color: black;
    --bs-btn-border-color: rgb(92, 92, 92);
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: gray;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
}

.btn{
    --bs-btn-bg: rgb(219, 219, 219);
}

.icon {
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.iconMore {
    height: 30px;
    margin-right: 15px;
    margin-top: 0px; 
}

.joinBtn{
    margin-top: 10px; 
}

.dropdownFont{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.navigationBar{
    text-decoration:none;
    list-style: none;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}

.exploreButton{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    background-color:transparent;
    border: none;
    margin-top: 27px;
}

.dropdown-menu-dark {
    --bs-dropdown-color: black;
    --bs-dropdown-bg: white;
    --bs-dropdown-link-color: rgb(42, 42, 42);
    --bs-dropdown-font-size: 14px;
    --bs-dropdown-link-hover-color: rgb(42, 42, 42);

}

.dropdown-menu[data-bs-popper] {
    top:0;
    left: -84px;
    margin-top: 80px;
}

.dropdown-menu {
    --bs-dropdown-border-width: none;
}

.navbar{
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-nav-link-padding-x: 0.1rem;
}

.btn {
    --bs-btn-bg: white;
}

.btn-outline-success {
    --bs-btn-border-color: white;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: white;
    --bs-btn-focus-shadow-rgb: none;
}

.btn {
    --bs-btn-padding-x: 0.90rem;
    --bs-btn-padding-y: 0.5rem;
}

.navbar-brand{
    margin-left:0px;
    margin-top: 10px;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: black;
    background-color: rgb(212, 212, 212);
    border-color: rgb(118, 118, 118);
}

.dropdown-menu {
    --bs-dropdown-min-width: 8rem;
}

.btn-secondary {
    --bs-btn-color: none;
    --bs-btn-bg: #efefef;
}

.iconPhoto{
    height:20px;
    margin-right: 10px;
}

.photographerText{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    opacity: 0.6;
}

.bold{
    font-weight:bold;
}

.circle{
    background-color: white;
    opacity: 0.2;
    height: 20px;
    width:20px;
    border-radius:5px;
}

.creditSection{
    margin-top:60px;
}

.opacity{
    opacity: 0.8;
}

.nav-link{
    color: rgb(66, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;

}

.nav {
    --bs-nav-link-hover-color: black;
}

.badge {
    --bs-badge-padding-x: 1.4em;
    --bs-badge-padding-y: 1em;
    --bs-badge-font-size: 14px;
    --bs-badge-font-weight: normal;
}

.secondNavMenu{
    margin-top:40px;
}

.filterSection{
    margin-top:20px;
}

.descriptionText{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:23px;
    margin-left:90px;
}

.trendingBtn{
    margin-right:90px;
}

.firstImgSection{
    margin-top:10px;
    padding-top:10px;
}

.vertical{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}

.verticalLong{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}

.horizontal{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}

.secondImgSection{
    margin-top:-40px;
}

@media only screen and (min-width: 1200px) and (max-width:1399px){

    .headingSection{
    margin-top:80px;
    padding-left: 250px;
    padding-right: 250px;
}

}

@media only screen and (min-width: 992px) and (max-width:1199px){

    .headingSection{
    margin-top:80px;
    padding-left: 160px;
    padding-right: 160px;
}

}

@media only screen and (min-width: 992px) and (max-width:1199px){

    .headingSection{
    margin-top:80px;
    padding-left: 160px;
    padding-right: 160px;
}

}